.picture {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.buttons button {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    width: 600px;
    height: 80px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.button1 {
    top: 84%;
    left: 30%;
}

.button2 {
    top: 84%;
    left: 70%;
}

.button3 {
    top: 94%;
    left: 30%;
}

.button4 {
    top: 94%;
    left: 70%;
}

.startButton {
    top: 45%;
    left: 50%;
}

.fiftyFiftyButton {
    top: 10%;
    left: 80%;
}

.callFriendButton {
    top: 10%;
    left: 90%;
}

.nameField {
    position: absolute;
    top: 35%;
    left: 41%;
}

.table {
    color: white;
    font-size: 24px;
}

.question {
    position: absolute;
    color: white;
    font-size: 28px;
    top: 65%;
    left: 20%;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
    width: 60%;
}

.score {
    color: white;
    font-size: 40px;
}

.status {
    position: absolute;
    color: white;
    font-size: 42px;
    top: 20%;
    left: 42%;
}

#bar {
    width: 80%;
    background-color: #ddd;
}

#progress {
    position: absolute;
    left: 20%;
    top: 55%;
    width: 60%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}